services:
  frontend:
    build:
      context:  .
      dockerfile: ./frontend/Dockerfile
    container_name: frontend
    image:  frontend
    # depends_on:
    #   - backend
    ports:
      - "8443:8443"
    volumes:
      - ./frontend/react:/var/www/html/ #this makes the project available inside the container
    networks:
      - transcendence
    restart: always

  backend:
    build:
      context:  .
      dockerfile: ./backend/Dockerfile
    container_name: backend
    image:  backend
    # depends_on:
    #   - database
    ports:
      - "3000:3000" #should only be "3000"
    volumes:
      - ./backend/:/backend #this makes the project available inside the container
    networks:
      - transcendence
    restart: always

networks:
  transcendence:
    name: transcendence
    driver: bridge



# volumes:
#   sqlite-volume:
#     name: sqlite
#     driver: local
#     driver_opts:
#       o:  bind
#       type: none
#       device: /home/${USER}/data/sqlite
